@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root{
  --main-color: rgb(194, 130, 194);
  --second-color: white;
}

.background-left{
  position: absolute;
  top: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(30deg, var(--main-color) 50%, var(--second-color) 50%);
  z-index: -1;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
  margin: 10rem 0 10rem 0;
}

.container h1{
  background-color: var(--main-color);
  padding: 1rem;
  border-radius: 10px;
  font-weight: 500;
}

.list{
  min-width: 60vw;
  max-width: 80vw;
  background-color: var(--second-color);
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 10px 10px 35px 1px;
  display: flex;
  flex-direction: column;
}

.empty{
  margin: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
}

.empty h2{
  align-self: center;
  margin-bottom: 2rem;
}

.item{
  display: grid;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 1.5rem;
  padding: 0.5rem 0;
}

.bar{
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgb(82, 82, 82);
}

.item h2{
  font-weight: 500;
}

.item input{
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.icon{
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem 1rem;
  justify-self: center;
  cursor: pointer;
}

.icon:hover{
  color: var(--main-color);
}

.add-item{
  margin: 1.5rem 0;
  align-self: center;
  justify-self: center;
}

.add-item input{
  height: 2rem;
  width: 15rem;
  margin: 0 1rem;
  padding: 0 .5rem;
}

.add-item button{
  margin-left: 1rem;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 30px;
  background-color: transparent;
  border: 2px solid var(--main-color);
  cursor: pointer;
}

